.lincoapp-list
    if(title)
        h2.title= title
    if(config.search)
        .count 共搜索到 #{list.length} 条数据
    .list
        ul
            each app in list
                li
                    a.name(href="/static/sage/?name=#{app.name}&version=#{app.version}\#/app")
                        strong #{app.name}
                    .des #{app.des}
                    .bar
                        i.version #{ 'v' + app.version }
                        a.author(href="/static/sage/?name=#{app.name}\#/user") #{app.author}
